* {
  margin: 0;
  padding: 0;
}

.external {
  background: linear-gradient(to right bottom, #000000, #bcbcbc);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
 
 
}

.internal {
  background-color: #0d0d0d94;
  min-width: 450px;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 3px 6px 40px #d3cece;
  margin-bottom: 70px;
  margin-top: 70px;

}

h1 {
  color: #a8abab;
  text-align: center;
  margin: 30px 0;

}

.taskinput {
  background-color: #0000002b;
  color: #a8abab;
  width: 306px;
  padding: 15px;
  font-size: 20px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
  outline: none;

}

.addbutton {
  width: 70px;
  padding: 15px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
  background-color: #e6e6e6c7;
  cursor: pointer;
  margin: 10px;
  
}

.list {

  color: #bbb9b9;
  width: 500px;
  padding: 15px;
  font-size: 24px;
  outline: none;
  border-bottom-style: solid;
  border-color: #000000;




}

.removebutton {
  width: 81px;
  padding: -1px 10px;
  font-size: 20px;
  border-radius: 6px;
  border: none;
  background-color: #e6e6e6c7;
  cursor: pointer;
  margin: 0px;
  float: right;

}

.clearbutton {
  width: 80px;
  padding: 16px 15px;
  font-size: 20px;
  border-radius: 10px;
  border: none;
background-color: #e6e6e6c7;
  cursor: pointer;
  margin: 10px;

}
.removebutton:hover{
  background-color: rgb(223, 102, 102);
}
.clearbutton:hover {
  background-color: rgb(102, 120, 194);
}
.addbutton:hover {
  background-color: rgb(123, 228, 149);
}
p.name{
      margin-bottom: 0%;
      margin-left: 0%;
      text-align: center;
      background-color: #bcbcbc;
      font-size: 16px;
      font-family: Arial, Helvetica, sans-serif;
  
    }



