body {
  background-color: rgb(234, 234, 234);
    
}
*{
  box-sizing: border-box;
  
}

h2{
  
  width: 100%;
  text-align: center;
  color: rgb(45, 174, 93);

}
.container {

  width: 30%;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px rgb(181, 163, 161);
  background-color: rgb(243, 243, 243);
  border-radius: 10px;

}

.item1,
.item2 {

  width: 95%;
 
  margin: 10px auto;
  align-items: center;

}

.item1 {
  display: flex;
 
  gap: 30px;
  justify-content: center;
  box-shadow: 2px 2px 4px rgb(181, 163, 161);
  border-style: none;
  height: 65px;
border-radius: 20px;
background-color: rgb(239, 240, 239);
margin-top: 20px;
margin-bottom: 20px;
}

.item1-item {
  margin: 5px;
  text-align: center;


}

#text {
  width: 60%;
  height: 40px;
  border-style: none;
  background: none;
  
  outline: none;
  color: rgb(94, 93, 93);
  font-family: "Times New Roman", Times, serif;
  font-size: large;


}

#addbtn {

  height: 30px;
  font-size: 28px;
  color: rgb(34, 200, 34);
}

#resetbtn {

  height: 30px;
  font-size: 28px;
  color: rgb(10, 123, 229);



}


#addbtn:hover {
  color: rgb(210, 219, 29);

}

#resetbtn:hover {
  color: rgb(210, 219, 29);

}

#removebtn:hover {
  color: rgb(210, 219, 29);

}

button {
  border-style: none;
  background: none;
  cursor: pointer;

}


.item2 {
  display: flex;

  border-bottom: 3px solid rgb(216, 227, 15);


}



.item2 p {
  color: rgb(72, 68, 68);
  width: 80%;
  margin: 6px;
  word-wrap: break-word;
  font-size: 17px;
  font-family: Arial, Helvetica, sans-serif;


}

.item2 button {
  margin-left: 23px;
  font-size: 28px;


  color: rgb(255, 4, 4);

}

